<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <button  type="button" [disabled]="!menuDisplay" mat-button (click)="drawer.toggle()">
        <i class="material-icons">menu</i>
      </button>
    </span>
    <span>
      <a mat-button [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
        [routerLink]="[ '/main' ]" (click)="active()">Main</a> </span>
    <span> <a mat-button routerLinkActive="active" [routerLink]="[ '/info' ]" (click)="drawer.close();disActive()" >Info</a></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <div class="menu-sidenav">
        <span> <a mat-button routerLinkActive="active" [routerLink]="[ 'main/todo' ]">Todo</a></span>
        <span> <a mat-button routerLinkActive="active" [routerLink]="[ 'main/posts' ]">Posts</a></span>
    </div>
  </mat-drawer>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
